<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.zenith">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".Zenith"
        android:allowBackup="true"
        android:icon="@drawable/zenithapplogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.LeaveApplicationDetails"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AddLeaveActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".Activity.AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Activity.AdminJobInformation" />
        <activity
            android:name=".Activity.SplashscreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.StudentMainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.EmployeeList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Employee_Chart_PayrollActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.EmployeeTotalEarningActivity" />
        <activity android:name=".Activity.EmployeeTotalWorkingHoursActivity" />
        <activity
            android:name=".Activity.JobsandShiftActvity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activity.StudentListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Trainingprogram_addpostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AdminLeaveAppsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.AddEmployeeActivity" />
        <activity android:name=".Activity.TrainingDetailsActivity" />

        <service android:name=".Fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>
</manifest>